* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Plain Light";
  src: url("/fonts/plain-light-webfont.woff") format("woff"),
    url("/fonts/plain-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plain Regular";
  src: url("/fonts/plain-regular-webfont.woff") format("woff"),
    url("/fonts/plain-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Silk Serif Light Italic";
  src: url("/fonts/silkserif-lightitalic-webfont.woff") format("woff"),
    url("/fonts/silkserif-lightitalic-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Silk Serif Regular";
  src: url("/fonts/silkserif-regular-webfont.woff") format("woff"),
    url("/fonts/silkserif-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

#main {
  position: relative;
  background-color: #030303;
}

#loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 20vh 5vw;
}

#line1-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  margin-left: 3vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-weight: 100;
  font-family: "Silk Serif Light Italic";
  font-size: 2.8vw;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}
#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}

.line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2vw;
  height: fit-content;
  position: relative;
}

.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
}

.line h2 {
  font-size: 6.5vw;
  position: absolute; /* Makes it independent from h1 */
  left: 65%;
  text-transform: uppercase;
  animation-name: anime;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; /* Ensures a smooth loop */
}

@keyframes anime {
  /* 0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  } */

  0% {
    font-family: "Silk Serif Light Italic";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  50% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "Silk Serif Light Italic"; /* Switch back smoothly */
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
}
