* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}

::selection {
  background-color: #f27059;
  color: black; /* Optional: makes the text readable */
}

@font-face {
  font-family: "Plain Light";
  src: url("/fonts/plain-light-webfont.woff") format("woff"),
    url("/fonts/plain-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plain Regular";
  src: url("/fonts/plain-regular-webfont.woff") format("woff"),
    url("/fonts/plain-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Silk Serif Light Italic";
  src: url("/fonts/silkserif-lightitalic-webfont.woff") format("woff"),
    url("/fonts/silkserif-lightitalic-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Silk Serif Regular";
  src: url("/fonts/silkserif-regular-webfont.woff") format("woff"),
    url("/fonts/silkserif-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

#main {
  position: relative;
  background-color: #030303;
}

#crsr {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  position: fixed;
  border: 2px solid #f27059;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
}

#loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 20vh 5vw;
}

#line1-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  margin-left: 5vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-weight: 100;
  font-family: "Silk Serif Light Italic";
  font-size: 2.8vw;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}
#line1-part1 h5 {
  width: 7vw;
  text-align: right;
}

.line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5vw;
  height: fit-content;
  position: relative;
}

.line h1 {
  font-size: 5.5vw;
  text-transform: uppercase;
}

.line h2 {
  font-size: 5.5vw;
  position: absolute; /* Makes it independent from h1 */
  left: 55%;
  text-transform: uppercase;
  animation-name: anime;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; /* Ensures a smooth loop */
}

@keyframes anime {
  0% {
    font-family: "Silk Serif Light Italic";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  50% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "Silk Serif Light Italic"; /* Switch back smoothly */
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
}

#page1 #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 4vw;
}
#nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
}

#nav-part2 h4 {
  font-size: 0.8vw;
  font-weight: 500;
}

.hero {
  width: 73%;
  margin-left: 27%;
  overflow: hidden;
  height: fit-content;
  position: relative;
  z-index: 999;
  display: flex;
  overflow: visible;
}
.hero:nth-child(2) {
  margin-top: 10vh;
}
.hero h1,
#hero3 h2 {
  font-size: 7vw;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 6.5vw;
}

#hero1 h1 {
  position: relative;
}

#hero1 h1::before {
  content: "01";
  position: absolute;
  font-size: 3vw;
  top: -1vw;
  left: -6vw;
  font-family: "Silk Serif Light Italic";
}

.hero h2 {
  padding-bottom: 0.8vw;
  position: relative;
  display: inline-block;
}

.hero h2.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5vw;
  width: 100%;
  background-color: #fff;
  transition: background-color 0.3s ease;
  z-index: -1;
}

/* Prevent the span ("/") from overlapping the underline */
.no-hover {
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding: 0.1vw 0.1vw;
  font-size: 7vw;
  transform: translateY(0.1vw);
  display: inline-block;
}
.hero h2:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.hero h2.underline:hover::after {
  background-color: transparent;
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  /* background-color: green; */
  /* padding-top: 20vh; */
  padding-top: 10vh;
  position: relative;
}

#video-container {
  height: 66vh;
  width: 72vw;
  position: relative;
  left: 28%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  object-fit: cover;
}

#video-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  z-index: 2;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0;
}
#video-cursor {
  height: 6vw;
  width: 6vw;
  position: absolute;
  border-radius: 50%;
  top: -10%;
  left: 80%;
  z-index: 3;
  background-color: #ffa63d;
  display: flex;
  align-items: center;
  justify-content: center;
}
#video-cursor i {
  font-size: 2vw;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 20vh;
  padding: 17vh 2vw;
  background-color: #151515;
}
#page3-content {
  width: 72vw;
  margin-left: 28%;
}
#page3-content h1 {
  font-size: 6vw;
  font-family: "Plain Regular";
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
#page3-content h1::before {
  content: "02";
  position: absolute;
  font-size: 3vw;
  top: 0.5vw;
  left: -7vw;
  font-family: "Silk Serif Light Italic";
}
#page3 .line {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}

.page3-circle1{
  border-radius: 50%;
  height: 23vw;
  width: 23vw;
  border: 2px solid;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23vh;
  margin-left: 10vw;
  position: relative;
}
.page3-circle1 svg{
  height: 30%;
}
.page3-circle2{
  border-radius: 50%;
  height: 23vw;
  width: 23vw;
  border: 2px solid;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10vw;
  position: relative;
}

.page3-circle2 svg{
  height: 30%;
  rotate: -45deg;
}
#img-container {
  padding: 1vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1vw;
  }
  
  .img-div {
    height: 35vw;
    width: 30vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    padding: 1vw;
  }
  .img-div:nth-child(1){
    height: 28vw;
    width: 22vw;
  }
  .img-div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
  .page3-circle2 + .img-div {
    margin-top: 12vh;
    height: 28vw;
    width: 22vw;
  }
  .circle-text{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: all ease 0.5s;
    border-radius: 50%;
  }

  .circle-text p{
    font-size: 0.9vw;
    font-weight: 500;
    color: #030303;
    width: 70%;
    scale: 0;
    transition: all ease 0.6s;
    transition-delay: 0.3s;
  }
  .page3-circle1:hover .circle-text {
    scale: 1;
  }
  .page3-circle1:hover p{
    scale: 1;
  }
  .page3-circle2:hover .circle-text {
    scale: 1;
  }
  .page3-circle2:hover p{
    scale: 1;
  }
  
  

#page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 5vh;
  padding-bottom: 30vh;
  margin-top: 30vh;
  background-color: #151515;
}


#page4-content {
  width: 72vw;
  margin-left: 28%;
}

#page4-content h1 {
  font-size: 6vw;
  font-family: "Plain Regular";
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}

#page4-content h1::before {
  content: "03";
  position: absolute;
  font-size: 3vw;
  top: 0.5vw;
  left: -7vw;
  font-family: "Silk Serif Light Italic";
}

#page4-content .line {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}

#page4 .line {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0; /* Adjust the margin as needed */
}

#page4-content > p {
  font-size: 1.7vw;
  width: 50%;
  margin-bottom: 2.5vw;
  line-height: 1.7vw;
  font-weight: 500;
}

#page4-flex {
  display: flex;
}

#page4-flex img {
  width: 50%;
  /* height: 10%; */
}
#page4-flex p {
  font-size: 0.7vw;
  width: 19%;
  margin-left: 1.4vw;
}
#page4-blue-div {
  background-color: #3f7df4;
  width: 30vw;
  padding: 3vw;
  position: relative;
  margin-top: -30vh;
  margin-left: 25vw;
}

#page4 .line {
  height: 2px;
  width: 100%;
  color: #fff;
  margin-top: 2vw 0;
}
.blue-div-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5vw 0;
  border-bottom: 2px solid #ffffff94;
}

.blue-div-elem h4 {
  font-size: 0.7vw;
  font-weight: 500;
}

.blue-div-elem p {
  width: 40%;
  font-size: 0.7vw;
}

#page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #151515;
 
}

.elem {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 2vw;
  /* scroll-behavior: smooth; */
}

.elem h1 {
  font-size: 5vw;
  font-family: "Silk Serif Light Italic";
  font-weight: 500;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  animation-name: anime2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes anime2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.elem2 {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 2vw;
  /* scroll-behavior: smooth; */
}

.elem2 h1 {
  font-size: 5vw;
  font-family: "Plain Light";
  font-weight: 500;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  animation-name: anime2;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse; 
  /* either you make new keyframes or just use anime2 with direction-reverse*/
}


.elem::-webkit-scrollbar,
.elem2::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.elem,
.elem2 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* @keyframes anime3 {
  to {
    transform: translateX(0);
  }
  from {
    transform: translateX(calc(-100% - 20px));
  }
} */

#footer {
  height: 90vh;
  width: 100%;
  position: relative;
  padding-left: 28vw;
  background-color: #151515;
}

#footer h1 {
  font-size: 5.5vw;
  font-family: "Plain Regular";
  font-weight: 500;
  width: 60vw;
  text-transform: uppercase;
  position: relative;
}
#footer h1::before {
  content: "04";
  position: absolute;
  font-size: 3vw;
  top: 0.5vw;
  left: -7vw;
  font-family: "Silk Serif Light Italic";
}
#footer .line {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 2vw 0;
}

#footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 3.5vw;
  margin-bottom: 14vw;
}

#footer-div h6 {
  font-size: 0.7vw;
  margin-bottom: 1vw;
  font-family: "Plain Regular";
  font-weight: 500;
}
#footer-div h5 {
  font-size: 1vw;
  font-family: "Plain Light";
}

._canvas_container{
  z-index: 99999 !important;
  pointer-events: none;
}

#flag {
  height: 25vw;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  will-change: transform, opacity;
  transform-origin: center left; /* makes sure it doesn't block mouse events */
  z-index: 10;
  transform: translate(-50%, -50%);
}
